@import '~carbon-components/scss/globals/scss/vars';
@import '~carbon-components/scss/globals/scss/vendor/@carbon/layout/scss/modules/breakpoint';

.root {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.firstRow {
  margin-bottom: $spacing-05;
}

.lastCol {
  @include breakpoint-up('lg') {
    text-align: right;
  }
}
