@import '~carbon-components/scss/globals/scss/vars';

.root {
  outline: none;
  border: none;
  background-color: transparent;
  padding: $spacing-02;
  cursor: pointer;
  transition: transform 0.3s;
  &:hover {
    transform: scale(1.2);
  }
  &:active {
    transition: transform 0.1s;
    transform: scale(0.9);
  }
}

:export {
  redColor: $carbon--red-60;
}
