@import '~carbon-components/scss/globals/scss/vars';

@keyframes clickAnimation {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1.2);
  }
}

.root {
  outline: none;
  border: none;
  background-color: transparent;
  padding: $spacing-02;
  cursor: pointer;
  transition: transform 0.3s;
  &:hover {
    transform: scale(1.2);
  }
  &:focus {
    animation: clickAnimation 0.3s ease-out;
  }
}

:export {
  redColor: $carbon--red-60;
}
