@import '~carbon-components/scss/globals/scss/vars';

.root {
  background-color: $field-01;
  border: 1px solid $active-secondary;
  margin: $spacing-03;
  display: flex;
  &.list {
    flex-direction: row;
  }
  &.grid {
    flex-direction: column;
  }
}
