@import '~carbon-components/scss/globals/scss/vars';
@import '~carbon-components/scss/globals/scss/typography';

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.imageLink {
  display: block;
  background-color: $white-0;
  padding: $spacing-xl;
}

.image {
  width: $spacing-3xl * 3;
  height: $spacing-3xl * 3;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.label {
  @include type-style('heading-01');
  display: block;
}

.description {
  flex: 1;
  padding: $spacing-03;
}

.actions {
  padding: $spacing-03;
}

.favouriteButton {
  display: inline-block;
  margin-top: $spacing-01;
}
