@import '~carbon-components/scss/globals/scss/vars';
@import '~carbon-components/scss/globals/scss/typography';

.root {
  background-color: $field-01;
  border: 1px solid $active-secondary;
  margin: $spacing-03;
  display: flex;
  flex-direction: row;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.image {
  width: 200px;
}

.label {
  @include type-style('heading-01');
  display: block;
}

.description {
  flex: 1;
  padding: $spacing-03;
}

.actions {
  padding: $spacing-03;
}
